.contact{
    padding: 75px 0;
    form{
        background: rgba(245, 222, 179, 0.295);
        max-width: 850px;
   .form-group{
    position: relative;
    label{
        display: block;
        font-size: 18px;
        color: #fff;
        margin: 8px 0;
        position: absolute;
bottom: 0;
padding: 0 12px;
       }
       input{
        width: 100%;
        padding: 15px 18px;
        border-radius: 8px;
        border: 1px solid #fff3;
        background: #ffffff24;
        color: #fff;
        outline: none;
        position: relative;
       }
   }
   input:focus + label {
    top: -100%;
  }
    }

}

