header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1em;
    color: #000;
    z-index: 99;
    background-color: #000c1f;
    transition: .3s ease;
  
    .desktop-menu {
      nav {
        max-width: 85%;
        flex: 0 0 85%;
  
        &>ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          list-style: none;
          padding: 0;
          margin: 0;
  
          &>li {
            position: relative;
            padding: 15px;
  
            &>a {
              text-decoration: none;
              font-weight: 700;
              font-size: 15px;
              line-height: 18px;
  
              color: white;
  
            }
            
  
            .desktop-menu-child {
              position: absolute;
              top: 100%;
              background: #FFFFFF;
              box-shadow: 4px 40px 50px 10px rgba(0, 0, 0, 0.1);
              border-radius: 12px;
              width: 172px;
              height: auto;
              padding: 25px 0 0 0;
              display: none;
  
  
              &>ul {
                list-style: none;
                padding: 0;
                margin: 0;
                flex: 0 0 75%;
                max-width: 75%;
                position: relative;
  
                &>li {
                  padding: 10px;
  
  
                  &:hover::before {
                    opacity: 1 !important;
                  }
  
                  &>a {
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    /* identical to box height */
  
  
                    color: #56688E;
  
                    padding: 11px 8px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
  
  
  
                    span {
                      display: inline-flex;
                    }
  
  
  
  
                  }
  
  
  
  
  
                  .desktop-menu-child-inner {
                    position: absolute;
                    top: 53px;
                    bottom: 0;
                    width: calc(50% - 50px);
                    padding-left: 35px;
                    right: 50px;
                    display: none;
  
                    span {
                      font-weight: 700;
                      font-size: 17px;
                      line-height: 20px;
                      display: block;
                      color: #1E99EA;
                      margin-bottom: 29px;
                    }
  
                    &::before {
                      content: '';
                      position: absolute;
                      left: 0;
                      height: 70%;
                      margin: auto 0;
                      border-left: 1px solid #EFEFEF;
                      top: 0;
                    }
  
                    &>ul {
                      list-style: none;
                      padding: 0;
                      margin: 0;
  
                      &>li {
                        padding: 10px 0;
  
                        &>a {
                          font-weight: 700;
                          font-size: 15px;
                          line-height: 18px;
                          /* identical to box height */
  
  
                          color: #56688E;
  
                          text-decoration: none;
                          display: block;
                        }
  
                        &:first-of-type {
                          padding-top: 0;
                        }
  
                        ul {
                          list-style: none;
                          padding: 6px 0;
                          margin: 0;
                          display: none;
  
                          li {
                            a {
                              font-weight: 700;
                              font-size: 15px;
                              line-height: 18px;
                              /* identical to box height */
  
  
                              color: #56688E;
  
                            }
                          }
                        }
  
                        &.has-child {
                          &>a {
                            position: relative;
  
  
                          }
  
  
                        }
                      }
                    }
                  }
  
                  &:hover {
                    .desktop-menu-child-inner {
                      display: block;
                    }
                  }
                }
              }
            }
  
            &:hover {
              .desktop-menu-child {
                display: block;
              }
            }
          }
  
          .single-column {
            .desktop-menu-child.person {
              &:first-of-type {
                width: 160px;
              }
            }
  
  
            .desktop-menu-child {
              width: 260px;
  
              &>ul {
                flex: 0 0 100%;
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  
    img {
      max-width: 100%;
    }
  
    .mobile-menu-burger {
      display: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  
      &-container {
        cursor: pointer;
      }
  
      span {
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        transition: .3s ease;
        position: relative;
  
        &:nth-child(2) {
          margin: .4em 0;
        }
      }
    }
  
    .burger-active {
      span {
        &:first-of-type {
          transform: rotate(45deg);
          top: 3px;
        }
  
        &:last-of-type {
          transform: rotate(-45deg);
        }
  
        &:nth-child(2) {
          opacity: 0;
          display: none;
        }
      }
    }
  
    .container {
      z-index: 6;
      position: relative;
    }
  
    .mobile-header-menu {
      padding: 100px 0;
      flex-direction: column;
      align-items: flex-start;
      opacity: 0;
      background: #fff;
      width: 100vw;
      height: 100vh;
      transform: translateY(20px);
      z-index: 5;
      left: 0;
      top: 0;
      transition: 0.3s cubic-bezier(0.29, 0.13, 0.27, 0.74);
      pointer-events: none;
      max-height: 100vh;
      overflow-y: auto;
      position: fixed;
  
      &.mobile-header-menu-active {
        opacity: 1;
        margin-top: 20px;
        pointer-events: all;
        -webkit-transform: translateY(0) translateZ(0) scale(1, 1);
        transform: translateY(0) translateZ(0) scale(1, 1);
      }
  
      ul {
        padding: 0;
        margin: 0;
  
        &>li {
          &>a {
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            /* identical to box height */
  
  
            color: #56688E;
            padding: 10px 25px;
            display: block;
            font-size: 18px;
            line-height: 1.1em;
          }
  
          &>ul {
            display: none;
            padding-top: 10px;
            padding-bottom: 10px;
  
  
            &>li {
  
              &>a {
                font-size: 16px;
              }
  
              &>ul {
                display: none;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: #fff;
  
                &>li {
  
                  a {
                    font-size: 15px;
                    color: #002047;
                  }
                }
              }
            }
          }
        }
  
        .has-child {
          &>a {
            position: relative;
  
            &::after {
              content: '';
              width: 0;
              height: 0;
              border: .4rem solid transparent;
              border-top-color: rgba(7, 5, 5, 0.959);
              font-size: .5rem;
              border-width: .3rem;
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto 0;
              right: 15px;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
  

    .child-menu-open{
        display: block!important;
    }
