.skils{
    padding: 75px 0;
    &-box{
        width: 150px;
    height: 150px;
    border: 6px solid white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    }
}


  